/*
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}
*/

.loading-prompt {
    position: fixed;
    text-align: center;
    color: white;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokemon-picture {
    display: block;
    margin-left: 40%;
}

.modal h5 {
    text-align: center;
}

.modal p {
    text-align: center;
}
